<%- include('../frontend/cabecera')%>

    <style>
        table {
            align-self: center;
            width: 90%;
            border: 1px solid #000;
            margin-left: 30px;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
        }

        th,
        td {
            width: 25%;
            text-align: center;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
            background: rgb(200, 229, 224);
        }

        input {
            text-align: center;
        }

        body {
            background-color: rgb(247, 238, 245);
        }
    </style>

<main>
<h1 style="text-align: center">AGREGAR UN VIDEOJUEGO</h1>

<div class="container">

    <h1>Videojuegos</h1>

<div>
    <form action="/videojuegos/crear-vid-formulario" method="post">
        <table>
            <caption>Información del videojuego</caption>
            <tr>
                <th scope="col">Creador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de Lanzamiento</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Costo</th>
            </tr>
            <tr>
                <td>
                    <label hidden="true" for="creador"></label>
                    <input id="creador" type="text" name="creador">
                </td>
                <td>
                    <label hidden="true" for="nombre"></label>
                    <input id="nombre" type="text" name="nombre">
                </td>
                <td>
                    <label hidden="true" for="fechaLanzamiento"></label>
                    <input id="fechaLanzamiento" type="date" name="fechaLanzamiento">
                </td>
                <td>
                    <label hidden="true" for="disponibilidad" DISPONIBLE></label>
                    <label><input type="checkbox" id="disponibilidad" name="disponibilidad">DISPONIBLE</label>
                </td>
                <td>
                    <label hidden="true" for="costo"></label>
                    <input id="costo" type="number" step="any"  name="costo">
                </td>
            </tr>
        </table>
        <br><br>
        <div class="contenedor" style="text-align: center;" >
            <button type="submit" class="btn-success btn-block" style="position: absolute;top: 30%;height:25px; width:100px">Crear</button>
            <button type="reset" class="btn-primary" style="height:25px; width:100px">Reset</button>
        </div>
    </form>
    <% const existeVid = typeof datos.mensaje !== 'undefined' %>
    <%  if(existeVid) { %>
        <div class="alert alert-warning alert-dismissible" id="myAlert">
            <%= datos.mensaje %>
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
        </div>
    <%} %>
    <br>
</div>
</div>
</main>

<script>
    $(document).ready(function(){
        $(".close").click(function(){
            $("#myAlert").alert("close");
        });
    });
</script>
<%- include('../frontend/footer')%>