<!doctype html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Primer Sitio Oficial</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Poiret+One);

        footer{
    background: #e69010;
    }

    footer .containerfooter{
    display: flex;
    flex-wrap: wrap;
        justify-content:center;
    padding-bottom: 30px;
    color: #fff;
    }

    .copy{
    font-size: 20px;
    padding: 20px;
    }

    .red-soc{
    width: 100%;
    text-align: center;
    font-size: 28px;
    }

    .red-soc a{
    color: #fff;
    text-decoration: none;
    }


    /*-----------Responsive-----------*/

    /*Tablets*/
    @media(min-width: 768px){
    .red-soc{
    width: auto;
    font-size: 28px;
    padding: 10px;
    }

    footer .containerfooter{
    justify-content: center;
    }
    }

        .buttonHeading,
        .buttonContainer
        {
            text-align:center;
            font-family: 'Poiret One', cursive;
        }
        h4{
            color: #022964;
            font-weight:bold;

        }
        p{ font-size: 15px;}
        .btn {
            height: 30px;
            width:30px;
            -moz-border-radius: 50px;
            webkit-border-radius: 50px;
            border-radius: 50px;
            margin: 3px;

        }


    </style>
</head>
<footer>
        <div class="contenedor">
            <h2 class="copy">ECAR DESARROLLO Y TECNOLOGÍA</h2>
        </div>

    <div class="contenedor">
        <h4> ECAR &copy; 2021</h4>
        <h4> For Developers & Designers</h4>
        <p> Hi, these ghost buttons have a border property of none when you hover over them. Adding to their ghostiness! </p>
        <div class="red-soc">
            <h4> Seguinos, en nuestras redes sociales! </h4>
            <a  href="https://www.facebook.com/danny.cabrera.9862/">FACEBOOK</a>
            <a  href="https://www.instagram.com/edyson_cabrera/">INSTAGRAM</a>
        </div>
    </div>

</footer>
